data:
  data_dir: ../../data/
  raw_data_dir: ../../data/raw
  processed_data_dir: ../../data/processed
  sns_files:
    - K1_EEG1_SAL.csv
    - K1_EEG7_SAL.csv
    - K2_EEG4_SAL.csv
    - K2_EEG5_SAL.csv
    - K4_EEG7_SAL.csv
    - raw_K3_EEG3_11h.txt
    - raw_RS2_EEG1_23 hr.txt
    - raw_S1_EEG1_23 hr.txt
  lbs_files:
    - K1_EEG1_11h.txt
    - K1_EEG7_11h.txt
    - K2_EEG4_11h.txt
    - K2_EEG5_11h.txt
    - K4_EEG7_11h.txt
    - K3_EEG3_11h.txt
    - RS2_EEG1_23 hr.txt
    - S1_EEG1_23 hr.txt

train:
  model_name: 'hypnos'
  seed: 42
  batch_size: 64
  lr: 0.0005
  kl_e: 10
  epochs: 1
  accelerator: 'cuda'
  devices: 'auto'
  disable_tqdm: False

  out_dir: '../../out'
  env_path: './config/.env'

logs:
  log_dir: '../../logs'
  log_level: 'DEBUG'