data:
  processed_data_dir: '../../data/processed'
  keymap: [ 'K3_EEG3_11h', 'RS2_EEG1_23 hr', 'S1_EEG1_23 hr' ]

train:
  seed: 42
  batch_size: 64
  lr: 0.0005
  kl_t: 0.5
  epochs: 100
  accelerator: 'cuda'
  devices: 'auto'
  disable_tqdm: False

logs:
  log_dir: '../../logs'
  log_level: 'DEBUG'

env_path: './config/.env'